.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(86, 86, 121);
}

.form {
    position: relative;
}
.input {
  outline: none;
padding-left: 25px;
}
.button{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
}

